<div class="row">
    <div class="col-xs-12">
        <img [src]="inRecept.imagePath" class="img-responsive" [alt]="inRecept.name">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{inRecept.name}}</h1>
    </div>
</div>



<div class="dropdown">

    <button class="btn-primary"><span>Manage recipe </span><span class="black">&#9660;</span></button>
    <div class="dropdown-content">
        <ul>
            <li><a href="#">To shopping list</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
        </ul>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div>
            <button class="drp">Manage recipe <span class="caret"></span></button>
            <ul>
                <li><a href="#">To shopping list</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>{{inRecept.description}}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Sastojci</p>
    </div>
</div>