<div class="row">
    <div class="col-xs-12">
        <img [src]="inRecept.imagePath" class="img-responsive" [alt]="inRecept.name">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{inRecept.name}}</h1>
    </div>
</div>




<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>

            <ul class="dropdown-menu">
                <li #prvi><a href="#" (click)="kliknuto(prvi)">To shopping list</a></li>
                <li #drugi><a href="#" (click)="kliknuto(drugi)">Edit Recipe</a></li>
                <li #treci><a href="#" (click)="kliknuto(treci)">Delete Recipe</a></li>
            </ul>

        </div>
    </div>
</div>

<div class="dropdown">


</div>


<div class="row">
    <div class="col-xs-12">
        <p>{{inRecept.description}}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Sastojci</p>
    </div>
</div>