<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <app-user [avatar]="userList[0].avatar" [name]="userList[0].name" [id]="userList[0].id"
        (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [avatar]="userList[1].avatar" [name]="userList[1].name" [id]="userList[1].id"
        (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [avatar]="userList[2].avatar" [name]="userList[2].name" [id]="userList[2].id"
        (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [avatar]="userList[3].avatar" [name]="userList[3].name" [id]="userList[3].id"
        (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [avatar]="userList[4].avatar" [name]="userList[4].name" [id]="userList[4].id"
        (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [avatar]="userList[5].avatar" [name]="userList[5].name" [id]="userList[5].id"
        (select)="onClickedListItem($event)" />
    </li>
  </ul>
<app-tasks [imeZaPrikaz]="selectedUser" />
</main>