<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <app-user [user]="userList[0]" (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [user]="userList[1]" (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [user]="userList[2]" (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [user]="userList[3]" (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [user]="userList[4]" (select)="onClickedListItem($event)" />
    </li>
    <li>
      <app-user [user]="userList[5]" (select)="onClickedListItem($event)" />
    </li>
  </ul>
  <app-tasks [imeZaPrikaz]="selectedUser" />
</main>