<div class="grid-container">

    <ul class="row">
        <li><a href="#">Home</a></li>
        <li><a href="#">Recipe Book</a></li>
        <li><a href="#">Shopping list</a></li>
    </ul>

    <div class="wrapp">
        <div class="dropdown">

            <span>Manage </span><span class="black">&#9660;</span>
            <div class="dropdown-content">
                <ul>
                    <li><a href="#">Save data</a></li>
                    <li><a href="#">Fetch data</a></li>
                </ul>

            </div>
        </div>
    </div>



</div>