*::before, *::after, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul{
    margin: 0;
    padding: 0;
    border: 1px solid green;
}

ul li{
    display: inline; 
}


li{
    padding-right: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    color: coral;
}

li:hover{
    background-color: rgb(247, 221, 211);
    color: rgb(146, 67, 67);
    cursor: pointer;
}